$main-font: 'GlacialIndifference', 'Gill Sans', 'Gill Sans MT', sans-serif;
$second-font: 'Gagalin', 'calibri', sans-serif;
$general-font: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
